<% var data = {
  title: "REMVAC.RU",
  author: ""
}; %>
<%= _.template(require('../includes/head.html').default)(data) %>
<%= _.template(require('../includes/header.html').default)(data) %>
<main>
  <section class='breadcrumbsblock'>
    <div class="container">
      <div class="breadcrumbs">
        <div class="breadcrumbs__icon">
          <div class="breadcrumbs__home"><img src="img/home.svg" alt=""></div><!-- /.breadcrumbs__home -->
        </div><!-- /.breadcrumbs__icon -->
        <ul>
          <li><a href="/"><span>Главная</span></a></li>
          <li><span>Ремонт</span></li>
        </ul>
      </div><!-- /.breadcrumbs -->
    </div><!-- /.container -->
  </section>
  <section class='contentpageblock'>
    <div class="contentpage">
      <div class="container">
        <div class="contentpage__2cols">
          <div class="contentpage__col40">
            <div class="contentpage__aside">
              <div class="aboutblock__container">
                <div class="aboutblock__photo">
                  <div class="aboutblock__slider">
                    <div class="aboutblock__slide">
                      <div class="aboutblock__image">
                        <div class="aboutblock__img"><img src="img/aboutblock1.jpg" alt=""></div><!-- /.aboutblock__img -->
                      </div><!-- /.aboutblock__image -->
                    </div><!-- /.aboutblock__slide -->
                    <div class="aboutblock__slide">
                      <div class="aboutblock__image">
                        <div class="aboutblock__img"><img src="img/aboutblock1.jpg" alt=""></div><!-- /.aboutblock__img -->
                      </div><!-- /.aboutblock__image -->
                    </div><!-- /.aboutblock__slide -->
                    <div class="aboutblock__slide">
                      <div class="aboutblock__image">
                        <div class="aboutblock__img"><img src="img/aboutblock1.jpg" alt=""></div><!-- /.aboutblock__img -->
                      </div><!-- /.aboutblock__image -->
                    </div><!-- /.aboutblock__slide -->
                    </div>
                  </div><!-- /.aboutblock__slider -->
                </div><!-- /.aboutblock__photo -->
              </div><!-- /.contentpage__aside -->
            </div><!-- /.contentpage__col40 -->
            <div class="contentpage__col60">
              <div class="contentpage__content aboutblock__content">
                <div class="aboutblock__header">
                  <div class="blocktitle text-lgray uppercase text-2xl">
                    О компании
                  </div>
                  <div class="description">
                    <p>Нам доверяют! Качеством наших товаров и услуг довольны! Мы стараемся подружиться с каждым клиентом!</p>
                    <p>Мы не гонимся за самыми низкими ценами, ведь это подразумевает использование некачественных материалов. Мы предлагаем Высокое качество и приятные цены! Ведь превыше всего Ваш комфорт и спокойствие!</p>
                  </div><!-- /.description -->
                  <div class="aboutblock__stats">
                    <div class="stats">
                      <div class="stats__items flex">
                        <div class="stats__item">
                          <div class="stats__number">950</div>
                          <div class="stats__text">Клиентов в год</div>
                        </div><!-- /.stats__item -->
                        <div class="stats__item">
                          <div class="stats__number">98</div>
                          <div class="stats__text">Одобренных 
                            возвратов</div>
                        </div><!-- /.stats__item -->
                        <div class="stats__item">
                          <div class="stats__number">7</div>
                          <div class="stats__text">Лет на 
                            рынке</div>
                        </div><!-- /.stats__item -->
                        <div class="stats__item">
                          <div class="stats__number">12</div>
                          <div class="stats__text">Городов 
                            присутствия</div>
                        </div><!-- /.stats__item -->
                      </div><!-- /.stats__items -->
                    </div><!-- /.stats -->
                  </div><!-- /.aboutblock__stats -->

                  <div class="description">
                    <p>Нам доверяют! Качеством наших товаров и услуг довольны! Мы стараемся подружиться с каждым клиентом!</p>
                    <p>
                      Мы не гонимся за самыми низкими ценами, ведь это подразумевает использование некачественных материалов. Мы предлагаем Высокое качество и приятные цены! Ведь превыше всего Ваш комфорт и спокойствие! Нам доверяют! Качеством наших товаров и услуг довольны! Мы стараемся подружиться с каждым клиентом! Мы не гонимся за самыми низкими ценами, ведь это подразумевает использование некачественных материалов. Мы предлагаем Высокое качество и приятные цены! Ведь превыше всего Ваш комфорт и спокойствие!</p>
                  </div><!-- /.description -->


                  <div class="serts slidersection">
                    <div class="heading flex items-center justify-between">
                      <div class="blocktitle text-lgray uppercase text-2xl">
                        Сертификаты
                      </div>
                      <div class="sertslider__arrows sertslider__arrows_small flex onlyDesktop ">
                        <div class="sertslider__arrowleft cursor-pointer sliderLeft">
                          <img src="img/slider-left.svg" alt="">
                        </div>
                        <div class="sertslider__arrowright cursor-pointer sliderRight">
                          <img src="img/slider-right.svg" alt="">
                        </div>
                      </div><!-- /.partslider__arrows -->
                    </div>
                   
                    <div class="serts__container">
                      <div class="serts__slider">
                        <div class="serts__slide">
                          <a href="img/sert1.jpg" data-lightbox="gallery" class="serts__content">
                            <span class="serts__image">
                              <span class="serts__img">
                                <img src="img/sert1.jpg" alt="">
                              </span><!-- /.serts__img -->
                            </span><!-- /.serts__image -->
                          </a><!-- /.serts__content -->
                        </div><!-- /.serts__slide -->
                        <div class="serts__slide">
                          <a href="img/sert1.jpg" data-lightbox="gallery" class="serts__content">
                            <span class="serts__image">
                              <span class="serts__img">
                                <img src="img/sert1.jpg" alt="">
                              </span><!-- /.serts__img -->
                            </span><!-- /.serts__image -->
                          </a><!-- /.serts__content -->
                        </div><!-- /.serts__slide -->
                        <div class="serts__slide">
                          <a href="img/sert1.jpg" data-lightbox="gallery" class="serts__content">
                            <span class="serts__image">
                              <span class="serts__img">
                                <img src="img/sert1.jpg" alt="">
                              </span><!-- /.serts__img -->
                            </span><!-- /.serts__image -->
                          </a><!-- /.serts__content -->
                        </div><!-- /.serts__slide -->
                        <div class="serts__slide">
                          <a href="img/sert1.jpg" data-lightbox="gallery" class="serts__content">
                            <span class="serts__image">
                              <span class="serts__img">
                                <img src="img/sert1.jpg" alt="">
                              </span><!-- /.serts__img -->
                            </span><!-- /.serts__image -->
                          </a><!-- /.serts__content -->
                        </div><!-- /.serts__slide -->
                        <div class="serts__slide">
                          <a href="img/sert1.jpg" data-lightbox="gallery" class="serts__content">
                            <span class="serts__image">
                              <span class="serts__img">
                                <img src="img/sert1.jpg" alt="">
                              </span><!-- /.serts__img -->
                            </span><!-- /.serts__image -->
                          </a><!-- /.serts__content -->
                        </div><!-- /.serts__slide -->
                      </div><!-- /.serts__slider -->
                     
                    </div><!-- /.serts__container -->
                  </div><!-- /.serts -->


                </div><!-- /.aboutblock__header -->
              </div><!-- /.aboutblock__content -->
            </div><!-- /.contentpage__col60 -->
        </div><!-- /.contentpage__2cols -->
      </div><!-- /.container -->
    </div><!-- /.contentpage -->
  </section>

</main>
 

<%= _.template(require('../includes/footer.html').default)(data) %>