<% var data = {
  title: "REMVAC.RU",
  author: ""
}; %>
<%= _.template(require('../includes/head.html').default)(data) %>
<%= _.template(require('../includes/header.html').default)(data) %>
<main>
  <section class='breadcrumbsblock'>
    <div class="container">
      <div class="breadcrumbs">
        <div class="breadcrumbs__icon">
          <div class="breadcrumbs__home"><img src="img/home.svg" alt=""></div><!-- /.breadcrumbs__home -->
        </div><!-- /.breadcrumbs__icon -->
        <ul>
          <li><a href="/"><span>Главная</span></a></li>
          <li><span>Ремонт</span></li>
        </ul>
      </div><!-- /.breadcrumbs -->
    </div><!-- /.container -->
  </section>
  <section class='contentpageblock'>
    <div class="contentpage">
      <div class="container">
        <h1 class="blocktitle text-lgray uppercase text-2xl">
          запчасти
        </h1>
        <div class="pagebanner">
          <div class="pagebanner__content" style='background-image: url(img/pagebanner1.jpg)'></div>
        </div><!-- /.pagebanner -->

        <div class="description catalogdescription">
          <p>
          Краткое описание о наличии запчастей и комплектующих ....
         </p>
        </div><!-- /.description -->

        <div class="catalogprices">
          <h2 class="blocktitle text-lgray  text-2lg">
            Цены на запчасти
          </h2>
          <div class="tablewrapper">
          <table>
            <thead>
              <tr>
                <th>Фото</th>
                <th>Наименование</th>
                <th class='td-small'>Количество</th>
                <th class='td-small'>Цена</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <span class="tablephoto">
                    <img src="img/card1.jpg" alt="">
                  </span>
                </td>
                <td>Масло</td>
                <td class='td-small'>2л.</td>
                <td class='nowrap text-righ td-small'>3 000 руб.</td>
              </tr>
              <tr>
                <td>
                  <span class="tablephoto">
                    <img src="img/card1.jpg" alt="">
                  </span>
                </td>
                <td>Уплотнитель для крышки</td>
                <td class='td-small'>2л.</td>
                <td class='nowrap text-right td-small'>3 000 руб.</td>
              </tr>
              <tr>
                <td>
                  <span class="tablephoto">
                    <img src="img/card1.jpg" alt="">
                  </span>
                </td>
                <td>Уплотнитель для крышки</td>
                <td class='td-small'>2л.</td>
                <td class='nowrap text-right td-small'>3 000 руб.</td>
              </tr>
              <tr>
                <td>
                  <span class="tablephoto">
                    <img src="img/card1.jpg" alt="">
                  </span>
                </td>
                <td>Уплотнитель для крышки</td>
                <td class='td-small'>2л.</td>
                <td class='nowrap text-right td-small'>3 000 руб.</td>
              </tr>
              <tr>
                <td>
                  <span class="tablephoto">
                    <img src="img/card1.jpg" alt="">
                  </span>
                </td>
                <td>Уплотнитель для крышки</td>
                <td class='td-small'>2л.</td>
                <td class='nowrap text-right td-small'>3 000 руб.</td>
              </tr>
              <tr>
                <td>
                  <span class="tablephoto">
                    <img src="img/card1.jpg" alt="">
                  </span>
                </td>
                <td>Уплотнитель для крышки</td>
                <td class='td-small'>2л.</td>
                <td class='nowrap text-right td-small'>3 000 руб.</td>
              </tr>
              <tr>
                <td>
                  <span class="tablephoto">
                    <img src="img/card1.jpg" alt="">
                  </span>
                </td>
                <td>Уплотнитель для крышки</td>
                <td class='td-small'>2л.</td>
                <td class='nowrap text-right td-small'>3 000 руб.</td>
              </tr>
              <tr>
                <td>
                  <span class="tablephoto">
                    <img src="img/card1.jpg" alt="">
                  </span>
                </td>
                <td>Уплотнитель для крышки</td>
                <td class='td-small'>2л.</td>
                <td class='nowrap text-right td-small'>3 000 руб.</td>
              </tr>
              <tr>
                <td>
                  <span class="tablephoto">
                    <img src="img/card1.jpg" alt="">
                  </span>
                </td>
                <td>Уплотнитель для крышки</td>
                <td class='td-small'>2л.</td>
                <td class='nowrap text-right td-small'>3 000 руб.</td>
              </tr>
              <tr>
                <td>
                  <span class="tablephoto">
                    <img src="img/card1.jpg" alt="">
                  </span>
                </td>
                <td>Уплотнитель для крышки</td>
                <td class='td-small'>2л.</td>
                <td class='nowrap text-right td-small'>3 000 руб.</td>
              </tr>
              <tr>
                <td>
                  <span class="tablephoto">
                    <img src="img/card1.jpg" alt="">
                  </span>
                </td>
                <td>Уплотнитель для крышки</td>
                <td class='td-small'>2л.</td>
                <td class='nowrap text-right td-small'>3 000 руб.</td>
              </tr>
              <tr>
                <td>
                  <span class="tablephoto">
                    <img src="img/card1.jpg" alt="">
                  </span>
                </td>
                <td>Уплотнитель для крышки</td>
                <td class='td-small'>2л.</td>
                <td class='nowrap text-right td-small'>3 000 руб.</td>
              </tr>
              <tr>
                <td>
                  <span class="tablephoto">
                    <img src="img/card1.jpg" alt="">
                  </span>
                </td>
                <td>Уплотнитель для крышки</td>
                <td class='td-small'>2л.</td>
                <td class='nowrap text-right td-small'>3 000 руб.</td>
              </tr>
            </tbody>
          </table>
        </div><!-- /.tablewrapper -->
        </div><!-- /.catalogprices -->
      </div><!-- /.container -->
    </div><!-- /.contentpage -->
  </section>

</main>
 

<%= _.template(require('../includes/footer.html').default)(data) %>