<% var data = {
  title: "REMVAC.RU",
  author: ""
}; %>
<%= _.template(require('../includes/head.html').default)(data) %>
<%= _.template(require('../includes/header.html').default)(data) %>
<main>
  <section class='breadcrumbsblock'>
    <div class="container">
      <div class="breadcrumbs">
        <div class="breadcrumbs__icon">
          <div class="breadcrumbs__home"><img src="img/home.svg" alt=""></div><!-- /.breadcrumbs__home -->
        </div><!-- /.breadcrumbs__icon -->
        <ul>
          <li><a href="/"><span>Главная</span></a></li>
          <li><span>Ремонт</span></li>
        </ul>
      </div><!-- /.breadcrumbs -->
    </div><!-- /.container -->
  </section>
  <section class='contentpageblock'>
    <div class="contentpage">
      <div class="container">
        <div class="contentpage__2cols">
          <div class="contentpage__col40 contentpage__col40_left">
            <h1 class="blocktitle text-lgray uppercase text-2xl">
              Контакты
            </h1>
            <div class="contactblock">
            <div class="contact">
              <div class="contact__icon">
                <div class="contact__icn"><img src="img/phone.svg" alt=""></div>
              </div>
              <div class="contact__main">
                <div class="contact__title">Телефон</div>
                <div class="contact__content">
                  <a href="tel:84954775362">8 495 477 53 62</a>
                </div>
              </div><!-- /.contact__main -->
            </div><!-- /.contact -->
            <div class="contact">
              <div class="contact__icon">
                <div class="contact__icn"><img src="img/whtsp.svg" alt=""></div>
              </div>
              <div class="contact__main">
                <div class="contact__title">WhatsApp</div>
                <div class="contact__content">
                  <a href="https://api.whatsapp.com/send?phone=84954775362" target='_blank'>8 495 477 53 62</a>
                </div>
              </div><!-- /.contact__main -->
            </div><!-- /.contact -->
            
            <div class="contact">
              <div class="contact__icon">
                <div class="contact__icn"><img src="img/email.svg" alt=""></div>
              </div>
              <div class="contact__main">
                <div class="contact__title">Email</div>
                <div class="contact__content">
                  <a href="mailto:info@remvac.ru" >info@remvac.ru</a>
                </div>
              </div><!-- /.contact__main -->
            </div><!-- /.contact -->
              
            <div class="contact">
              <div class="contact__icon">
                <div class="contact__icn"><img src="img/location.svg" alt=""></div>
              </div>
              <div class="contact__main">
                <div class="contact__title">Адрес</div>
                <div class="contact__content">
                  г. Москва, ул. Электродная, дом 13
                </div>
              </div><!-- /.contact__main -->
            </div><!-- /.contact -->

            <div class="contact">
              <div class="contact__icon">
                <div class="contact__icn"><img src="img/timer.svg" alt=""></div>
              </div>
              <div class="contact__main">
                <div class="contact__title">График работы</div>
                <div class="contact__content">
                  ПН-ПТ: с 9 до 18 <span>СБ-ВС: выходные</span>
                </div>
              </div><!-- /.contact__main -->
            </div><!-- /.contact -->
          </div><!-- /.contactblock -->
          <div class="socialblock">
            <div class="socialblock__title">Мы в соц. сетях:</div>
              <div class="socialblock__socials">
                <a href="" target='_blank'><img src="img/inst.svg" alt=""></a>
                <a href="" target='_blank'><img src="img/ytb.svg" alt=""></a>
                <a href="" target='_blank'><img src="img/fcb.svg" alt=""></a>
              </div>
            </div><!-- /.socialblock -->
          </div><!-- /.contentpage__col40 -->
          <div class="contentpage__col60 contentpage__col60_right">
            <div class="mapblock">
              <div id="ymap">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Acc2c5f4897c92d6212752f9e42443c00afb76f7b07f2557e6a8f613268e2228a&amp;source=constructor" width="100%" height="479" frameborder="0"></iframe>   
              </div><!-- /#ymap -->
            </div><!-- /.mapblock -->
          </div><!-- /.contentpage__col60 -->
        </div><!-- /.contentpage__2cols -->
        
      </div><!-- /.container -->
    </div><!-- /.contentpage -->
  </section>

</main>
 

<%= _.template(require('../includes/footer.html').default)(data) %>