<% var data = {
  title: "REMVAC.RU",
  author: ""
}; %>
<%= _.template(require('../includes/head.html').default)(data) %>
<%= _.template(require('../includes/header.html').default)(data) %>
<main>
  <section class='breadcrumbsblock'>
    <div class="container">
      <div class="breadcrumbs">
        <div class="breadcrumbs__icon">
          <div class="breadcrumbs__home"><img src="img/home.svg" alt=""></div><!-- /.breadcrumbs__home -->
        </div><!-- /.breadcrumbs__icon -->
        <ul>
          <li><a href="/"><span>Главная</span></a></li>
          <li><span>Ремонт</span></li>
        </ul>
      </div><!-- /.breadcrumbs -->
    </div><!-- /.container -->
  </section>
  <section class='contentpageblock'>
    <div class="contentpage">
      <div class="container">
        <h1 class="blocktitle text-lgray uppercase text-2xl">
          Документация MULTIVAC
        </h1>
       
        <div class="titleblock">Документы</div>
        <div class="docblock">
          <div class="doc">
            <a href="#" download class="doc__link">
              <div class="doc__main">
                <span class="doc__icon">
                  <span class="doc__pdf">
                    <img src="img/pdf.svg" alt="">
                  </span>
                </span>
                <div class="doc__content">
                  <div class="doc__name">Скачать инструкцию Multivac</div>
                  <div class="doc__info">220 кб,  PDF</div>
                </div>
              </div><!-- /.doc__main -->
              <div class="doc__download">
                <div class="doc__icn"><img src="img/download.svg" alt=""></div>
              </div><!-- /.doc__download -->
            </a>
          </div>
          <div class="doc">
            <a href="#" download class="doc__link">
              <div class="doc__main">
                <span class="doc__icon">
                  <span class="doc__pdf">
                    <img src="img/pdf.svg" alt="">
                  </span>
                </span>
                <div class="doc__content">
                  <div class="doc__name">Скачать инструкцию Multivac</div>
                  <div class="doc__info">220 кб,  PDF</div>
                </div>
              </div><!-- /.doc__main -->
              <div class="doc__download">
                <div class="doc__icn"><img src="img/download.svg" alt=""></div>
              </div><!-- /.doc__download -->
            </a>
          </div>
          <div class="doc">
            <a href="#" download class="doc__link">
              <div class="doc__main">
                <span class="doc__icon">
                  <span class="doc__pdf">
                    <img src="img/pdf.svg" alt="">
                  </span>
                </span>
                <div class="doc__content">
                  <div class="doc__name">Скачать инструкцию Multivac</div>
                  <div class="doc__info">220 кб,  PDF</div>
                </div>
              </div><!-- /.doc__main -->
              <div class="doc__download">
                <div class="doc__icn"><img src="img/download.svg" alt=""></div>
              </div><!-- /.doc__download -->
            </a>
          </div>
          <div class="doc">
            <a href="#" download class="doc__link">
              <div class="doc__main">
                <span class="doc__icon">
                  <span class="doc__pdf">
                    <img src="img/pdf.svg" alt="">
                  </span>
                </span>
                <div class="doc__content">
                  <div class="doc__name">Скачать инструкцию Multivac</div>
                  <div class="doc__info">220 кб,  PDF</div>
                </div>
              </div><!-- /.doc__main -->
              <div class="doc__download">
                <div class="doc__icn"><img src="img/download.svg" alt=""></div>
              </div><!-- /.doc__download -->
            </a>
          </div>
          <div class="doc">
            <a href="#" download class="doc__link">
              <div class="doc__main">
                <span class="doc__icon">
                  <span class="doc__pdf">
                    <img src="img/pdf.svg" alt="">
                  </span>
                </span>
                <div class="doc__content">
                  <div class="doc__name">Скачать инструкцию Multivac</div>
                  <div class="doc__info">220 кб,  PDF</div>
                </div>
              </div><!-- /.doc__main -->
              <div class="doc__download">
                <div class="doc__icn"><img src="img/download.svg" alt=""></div>
              </div><!-- /.doc__download -->
            </a>
          </div>
        </div>

        <div class="titleblock">Видео</div>
        <div class="videoblock">
          <div class="videoblock__items">
            <div class="videoblock__item">
              <a class="youtubepopup" href="#!" data-link="//www.youtube.com/embed/s5Lcgs1k0hA?enablejsapi=1" tabindex="0">
                <div class="videoslider__image">
                  <div class="videoslider__img">
                    <img src="//img.youtube.com/vi/s5Lcgs1k0hA/0.jpg" alt="">
                  </div>
                </div>
              </a>
            </div><!-- /.videoblock__item -->
            <div class="videoblock__item">
              <a class="youtubepopup" href="#!" data-link="//www.youtube.com/embed/s5Lcgs1k0hA?enablejsapi=1" tabindex="0">
                <div class="videoslider__image">
                  <div class="videoslider__img">
                    <img src="//img.youtube.com/vi/s5Lcgs1k0hA/0.jpg" alt="">
                  </div>
                </div>
              </a>
            </div><!-- /.videoblock__item -->
            <div class="videoblock__item">
              <a class="youtubepopup" href="#!" data-link="//www.youtube.com/embed/s5Lcgs1k0hA?enablejsapi=1" tabindex="0">
                <div class="videoslider__image">
                  <div class="videoslider__img">
                    <img src="//img.youtube.com/vi/s5Lcgs1k0hA/0.jpg" alt="">
                  </div>
                </div>
              </a>
            </div><!-- /.videoblock__item -->
            <div class="videoblock__item">
              <a class="youtubepopup" href="#!" data-link="//www.youtube.com/embed/s5Lcgs1k0hA?enablejsapi=1" tabindex="0">
                <div class="videoslider__image">
                  <div class="videoslider__img">
                    <img src="//img.youtube.com/vi/s5Lcgs1k0hA/0.jpg" alt="">
                  </div>
                </div>
              </a>
            </div><!-- /.videoblock__item -->
            <div class="videoblock__item">
              <a class="youtubepopup" href="#!" data-link="//www.youtube.com/embed/s5Lcgs1k0hA?enablejsapi=1" tabindex="0">
                <div class="videoslider__image">
                  <div class="videoslider__img">
                    <img src="//img.youtube.com/vi/s5Lcgs1k0hA/0.jpg" alt="">
                  </div>
                </div>
              </a>
            </div><!-- /.videoblock__item -->
          </div><!-- /.videoblock__items -->
        </div><!-- /.videoblock -->
      </div><!-- /.container -->
    </div><!-- /.contentpage -->
  </section>

</main>
 

<%= _.template(require('../includes/footer.html').default)(data) %>