<% var data = {
  title: "REMVAC.RU",
  author: ""
}; %>
<%= _.template(require('../includes/head.html').default)(data) %>
<%= _.template(require('../includes/header.html').default)(data) %>
<main>
  <section class='breadcrumbsblock'>
    <div class="container">
      <div class="breadcrumbs">
        <div class="breadcrumbs__icon">
          <div class="breadcrumbs__home"><img src="img/home.svg" alt=""></div><!-- /.breadcrumbs__home -->
        </div><!-- /.breadcrumbs__icon -->
        <ul>
          <li><a href="/"><span>Главная</span></a></li>
          <li><span>Ремонт</span></li>
        </ul>
      </div><!-- /.breadcrumbs -->
    </div><!-- /.container -->
  </section>
  <section class='contentpageblock'>
    <div class="contentpage">
      <div class="container">
        <div class="blocktitle text-lgray uppercase text-2xl">
          Ремонт
        </div>
        <div class="itemslist">
          <div class="itemslist__item">
            <a class="itemslist__wrapper">
              <div class="itemslist__main">
                <div class="itemslist__image">
                  <div class="itemslist__img"><img src="img/brand1.svg" alt=""></div>
                </div><!-- /.itemslist__image -->
                <div class="itemslist__content">
                  <div class="itemslist__name">Ремонт Henkelman</div>
                  <div class="itemslist__text">Краткий анонс о ремонте HENKELMAN и о особенностях этого бренда...</div>
                </div><!-- /.itemslist__content -->
              </div><!-- /.itemslist__main -->
              <div class="itemslist__rightside">
                <div class="itemslist__link"><img src="img/rightangle.svg" alt=""></div><!-- /.itemslist__link -->
              </div><!-- /.itemslist__rightside -->
            </a><!-- /.itemslist__wrapper -->
          </div><!-- /.itemslist__item -->
          <div class="itemslist__item">
            <a class="itemslist__wrapper">
              <div class="itemslist__main">
                <div class="itemslist__image">
                  <div class="itemslist__img"><img src="img/brand2.svg" alt=""></div>
                </div><!-- /.itemslist__image -->
                <div class="itemslist__content">
                  <div class="itemslist__name">Ремонт MULTIVAC</div>
                  <div class="itemslist__text">Краткий анонс о ремонте MULTIVAC и о особенностях этого бренда...</div>
                </div><!-- /.itemslist__content -->
              </div><!-- /.itemslist__main -->
              <div class="itemslist__rightside">
                <div class="itemslist__link"><img src="img/rightangle.svg" alt=""></div><!-- /.itemslist__link -->
              </div><!-- /.itemslist__rightside -->
            </a><!-- /.itemslist__wrapper -->
          </div><!-- /.itemslist__item -->
          <div class="itemslist__item">
            <a class="itemslist__wrapper">
              <div class="itemslist__main">
                <div class="itemslist__image">
                  <div class="itemslist__img"><img src="img/brand1.svg" alt=""></div>
                </div><!-- /.itemslist__image -->
                <div class="itemslist__content">
                  <div class="itemslist__name">Ремонт Henkelman</div>
                  <div class="itemslist__text">Краткий анонс о ремонте HENKELMAN и о особенностях этого бренда...</div>
                </div><!-- /.itemslist__content -->
              </div><!-- /.itemslist__main -->
              <div class="itemslist__rightside">
                <div class="itemslist__link"><img src="img/rightangle.svg" alt=""></div><!-- /.itemslist__link -->
              </div><!-- /.itemslist__rightside -->
            </a><!-- /.itemslist__wrapper -->
          </div><!-- /.itemslist__item -->
          <div class="itemslist__item">
            <a class="itemslist__wrapper">
              <div class="itemslist__main">
                <div class="itemslist__image">
                  <div class="itemslist__img"><img src="img/brand2.svg" alt=""></div>
                </div><!-- /.itemslist__image -->
                <div class="itemslist__content">
                  <div class="itemslist__name">Ремонт MULTIVAC</div>
                  <div class="itemslist__text">Краткий анонс о ремонте MULTIVAC и о особенностях этого бренда...</div>
                </div><!-- /.itemslist__content -->
              </div><!-- /.itemslist__main -->
              <div class="itemslist__rightside">
                <div class="itemslist__link"><img src="img/rightangle.svg" alt=""></div><!-- /.itemslist__link -->
              </div><!-- /.itemslist__rightside -->
            </a><!-- /.itemslist__wrapper -->
          </div><!-- /.itemslist__item -->
          <div class="itemslist__item">
            <a class="itemslist__wrapper">
              <div class="itemslist__main">
                <div class="itemslist__image">
                  <div class="itemslist__img"><img src="img/brand1.svg" alt=""></div>
                </div><!-- /.itemslist__image -->
                <div class="itemslist__content">
                  <div class="itemslist__name">Ремонт Henkelman</div>
                  <div class="itemslist__text">Краткий анонс о ремонте HENKELMAN и о особенностях этого бренда...</div>
                </div><!-- /.itemslist__content -->
              </div><!-- /.itemslist__main -->
              <div class="itemslist__rightside">
                <div class="itemslist__link"><img src="img/rightangle.svg" alt=""></div><!-- /.itemslist__link -->
              </div><!-- /.itemslist__rightside -->
            </a><!-- /.itemslist__wrapper -->
          </div><!-- /.itemslist__item -->
          <div class="itemslist__item">
            <a class="itemslist__wrapper">
              <div class="itemslist__main">
                <div class="itemslist__image">
                  <div class="itemslist__img"><img src="img/brand2.svg" alt=""></div>
                </div><!-- /.itemslist__image -->
                <div class="itemslist__content">
                  <div class="itemslist__name">Ремонт MULTIVAC</div>
                  <div class="itemslist__text">Краткий анонс о ремонте MULTIVAC и о особенностях этого бренда...</div>
                </div><!-- /.itemslist__content -->
              </div><!-- /.itemslist__main -->
              <div class="itemslist__rightside">
                <div class="itemslist__link"><img src="img/rightangle.svg" alt=""></div><!-- /.itemslist__link -->
              </div><!-- /.itemslist__rightside -->
            </a><!-- /.itemslist__wrapper -->
          </div><!-- /.itemslist__item -->
        </div><!-- /.itemslist -->
      </div><!-- /.container -->
    </div><!-- /.contentpage -->
  </section>

</main>
 

<%= _.template(require('../includes/footer.html').default)(data) %>