<% var data = {
  title: "REMVAC.RU",
  author: ""
}; %>
<%= _.template(require('../includes/head.html').default)(data) %>
<%= _.template(require('../includes/header.html').default)(data) %>
<main>
  <section class='breadcrumbsblock'>
    <div class="container">
      <div class="breadcrumbs">
        <div class="breadcrumbs__icon">
          <div class="breadcrumbs__home"><img src="img/home.svg" alt=""></div><!-- /.breadcrumbs__home -->
        </div><!-- /.breadcrumbs__icon -->
        <ul>
          <li><a href="/"><span>Главная</span></a></li>
          <li><span>Ремонт</span></li>
        </ul>
      </div><!-- /.breadcrumbs -->
    </div><!-- /.container -->
  </section>
  <section class='contentpageblock'>
    <div class="contentpage">
      <div class="container">
        <h1 class="blocktitle text-lgray uppercase text-2xl">
          Услуги
        </h1>
        <div class="items">
          <div class="item item33">
            <a href="" class="partslider__link">
              <div class="partslider__image">
                <img src="img/services1.jpg" alt="">
              </div>
              <span class="partslider__title flex items-center justify-between">
                <div class="partslider__name ">
                  Выезд специалиста
                </div>
                <div class="partslider__icon"><img src="img/chevron-right-small.svg" alt=""></div>
              </span>
            </a>
          </div><!-- /.item -->
          <div class="item item33">
            <a href="" class="partslider__link">
              <div class="partslider__image">
                <img src="img/services2.jpg" alt="">
              </div>
              <span class="partslider__title flex items-center justify-between">
                <div class="partslider__name ">
                  Диагностика неисправностей
                </div>
                <div class="partslider__icon"><img src="img/chevron-right-small.svg" alt=""></div>
              </span>
            </a>
          </div><!-- /.item -->
          <div class="item item33">
            <a href="" class="partslider__link">
              <div class="partslider__image">
                <img src="img/services3.jpg" alt="">
              </div>
              <span class="partslider__title flex items-center justify-between">
                <div class="partslider__name ">
                  Ремонт вакуумных упаковщиков
                </div>
                <div class="partslider__icon"><img src="img/chevron-right-small.svg" alt=""></div>
              </span>
            </a>
          </div><!-- /.item -->
          <div class="item item33">
            <a href="" class="partslider__link">
              <div class="partslider__image">
                <img src="img/services1.jpg" alt="">
              </div>
              <span class="partslider__title flex items-center justify-between">
                <div class="partslider__name ">
                  Выезд специалиста
                </div>
                <div class="partslider__icon"><img src="img/chevron-right-small.svg" alt=""></div>
              </span>
            </a>
          </div><!-- /.item -->
          <div class="item item33">
            <a href="" class="partslider__link">
              <div class="partslider__image">
                <img src="img/services2.jpg" alt="">
              </div>
              <span class="partslider__title flex items-center justify-between">
                <div class="partslider__name ">
                  Диагностика неисправностей
                </div>
                <div class="partslider__icon"><img src="img/chevron-right-small.svg" alt=""></div>
              </span>
            </a>
          </div><!-- /.item -->
          <div class="item item33">
            <a href="" class="partslider__link">
              <div class="partslider__image">
                <img src="img/services3.jpg" alt="">
              </div>
              <span class="partslider__title flex items-center justify-between">
                <div class="partslider__name ">
                  Ремонт вакуумных упаковщиков
                </div>
                <div class="partslider__icon"><img src="img/chevron-right-small.svg" alt=""></div>
              </span>
            </a>
          </div><!-- /.item -->
          <div class="item item33">
            <a href="" class="partslider__link">
              <div class="partslider__image">
                <img src="img/services1.jpg" alt="">
              </div>
              <span class="partslider__title flex items-center justify-between">
                <div class="partslider__name ">
                  Выезд специалиста
                </div>
                <div class="partslider__icon"><img src="img/chevron-right-small.svg" alt=""></div>
              </span>
            </a>
          </div><!-- /.item -->
          <div class="item item33">
            <a href="" class="partslider__link">
              <div class="partslider__image">
                <img src="img/services2.jpg" alt="">
              </div>
              <span class="partslider__title flex items-center justify-between">
                <div class="partslider__name ">
                  Диагностика неисправностей
                </div>
                <div class="partslider__icon"><img src="img/chevron-right-small.svg" alt=""></div>
              </span>
            </a>
          </div><!-- /.item -->
          <div class="item item33">
            <a href="" class="partslider__link">
              <div class="partslider__image">
                <img src="img/services3.jpg" alt="">
              </div>
              <span class="partslider__title flex items-center justify-between">
                <div class="partslider__name ">
                  Ремонт вакуумных упаковщиков
                </div>
                <div class="partslider__icon"><img src="img/chevron-right-small.svg" alt=""></div>
              </span>
            </a>
          </div><!-- /.item -->
        </div><!-- /.items -->
      </div><!-- /.container -->
    </div><!-- /.contentpage -->
  </section>

</main>
 

<%= _.template(require('../includes/footer.html').default)(data) %>