<% var data = {
  title: "REMVAC.RU",
  author: ""
  }; %>
<%= _.template(require('../includes/head.html').default)(data) %>
<%= _.template(require('../includes/header.html').default)(data) %>
<main>
  <section class='breadcrumbsblock'>
    <div class="container">
      <div class="breadcrumbs">
        <div class="breadcrumbs__icon">
          <div class="breadcrumbs__home"><img src="img/home.svg" alt=""></div>
          <!-- /.breadcrumbs__home -->
        </div>
        <!-- /.breadcrumbs__icon -->
        <ul>
          <li><a href="/"><span>Главная</span></a></li>
          <li><span>Ремонт</span></li>
        </ul>
      </div>
      <!-- /.breadcrumbs -->
    </div>
    <!-- /.container -->
  </section>
  <section class='contentpageblock'>
    <div class="contentpage">
      <div class="container">
        <div class="blocktitle text-lgray uppercase text-2xl">
          Диагностика неисправностей
        </div>
        <div class="asidepage detailpage">
          <div class="asidepage__aside">
            <div class="detailpage__image">
                <div class="detailpage__img"><img src="img/service.jpg" alt=""></div>
            
            </div>
            <!-- /.detailpage__image -->
            <div class="detailpage__callback">
              <a href="#modal_service" data-toggle="modal" class="button button_responsive decoration-none">Оставить заявку</a>
            </div>
          </div>
          <!-- /.asidepage__aside -->
          <div class="asidepage__main">
            <div class="asidepage__content content">
              <div class="description">
                <p>Сотрудники компании БВ ГРУПП имеют огромный опыт по ремонту вакуумных упаковщиков марки Multivac. Наши сотрудники готовы произвести ремонт любой сложности в кротчайшие сроки. Производя ремонтные работы на вакуумных упаковщиках multivac c100, наша компания использует только оригинальные запчасти, которые всегда есть в наличии.</p>
                <p>Мы с пониманием относимся к нашим клиентам и готовы оказать любое содействие со своей стороны для обеспечения бесперебойной работы вашего оборудования. Сломанный вакуумный упаковщик multivac c100 и долгий его ремонт могут доставить пользователю ряд не нужных проблем, поэтому наша компания старается выполнять свою работу оперативно и качественно. Даже в самых сложных ситуациях, когда ремонт multivac c100 требует длительного времени, а у клиента этого времени нет-ему нужно продолжать работать, Мы предоставляем на время ремонта подменное оборудование со схожими характеристиками. Довольный клиент – это основа нашей работы!
                </p>
              </div>
              <!-- /.description -->
              <div class="blocktitle text-lgray text-2lg">
                Проблем, при работе с вакуумным упаковщиком multivac c100, может возникнуть очень много, чаще всего эти проблемы проявляются так:
              </div>
              <div class="list list_red text-lgray">
                <ul>
                  <li>Плохо или недостаточно откачивает воздух (плохой вакуум)</li>
                  <li>Плохо или вообще не запаивает пакет</li>
                  <li>Пакеты не держат вакуум</li>
                  <li>Неисправна плата управления</li>
                  <li>Не работает датчик вакуума</li>
                  <li>Прижимная крышка не поднимется</li>
                  <li>Компрессор слишком громко стал работать</li>
                  <li>В камеру попадает масло, возможно появление дыма и неприятного запаха</li>
                </ul>
              </div>
              <!-- /.list -->
              <div class="blocktitle text-lgray text-2lg">
                Цены на ремонт Multivac
              </div>
              <div class="tablewrapper">
              <table>
                <thead>
                  <tr>
                    <th>Наименование работ</th>
                    <th>Цена</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Диагностика прибора в сервисном центре</td>
                    <td>Бесплатно</td>
                  </tr>
                  <tr>
                    <td>Выездная диагностика мастера</td>
                    <td>3 000 руб.</td>
                  </tr>
                  <tr>
                    <td>Замена элементов блоков</td>
                    <td>от 2 000 руб.</td>
                  </tr>
                  <tr>
                    <td>Ремонт и замена комплектующих прибора</td>
                    <td>от 1 500 руб.</td>
                  </tr>
                </tbody>
              </table>
            </div><!-- /.tablewrapper -->
            </div>
            <!-- /.asidepage__content -->
            <div class="videoslider slidersection">
              <div class="heading flex justify-between">
                <div class="blocktitle text-lgray  text-2lg">
                  Видео
                </div>
                <div class="sliderArrows flex onlyDesktop ">
                  <div class="sertslider__arrowleft cursor-pointer sliderLeft">
                    <img src="img/slider-left.svg" alt="">
                  </div>
                  <div class="sertslider__arrowright cursor-pointer sliderRight">
                    <img src="img/slider-right.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="videoslider__container">
                <div class="videoslider__slider slidersection__slider">
                  <div class="videoslider__slide slidersection__slide">
                    <div class="videoslider__content">
                      <a class="youtubepopup" href="#!" data-link="//www.youtube.com/embed/s5Lcgs1k0hA?enablejsapi=1" tabindex="0">
                        <div class="videoslider__image">
                          <div class="videoslider__img">
                            <img src="//img.youtube.com/vi/s5Lcgs1k0hA/0.jpg" alt="">
                          </div>
                        </div>
                      </a>
                    </div>
                    <!-- /.videoslider__content -->
                  </div>
                  <!-- /.videoslider__slide -->
                  <div class="videoslider__slide slidersection__slide">
                    <div class="videoslider__content">
                      <a class="youtubepopup" href="#!" data-link="//www.youtube.com/embed/s5Lcgs1k0hA?enablejsapi=1" tabindex="0">
                        <div class="videoslider__image">
                          <div class="videoslider__img">
                            <img src="//img.youtube.com/vi/s5Lcgs1k0hA/0.jpg" alt="">
                          </div>
                        </div>
                      </a>
                    </div>
                    <!-- /.videoslider__content -->
                  </div>
                  <!-- /.videoslider__slide -->
                  <div class="videoslider__slide slidersection__slide">
                    <div class="videoslider__content">
                      <a class="youtubepopup" href="#!" data-link="//www.youtube.com/embed/s5Lcgs1k0hA?enablejsapi=1" tabindex="0">
                        <div class="videoslider__image">
                          <div class="videoslider__img">
                            <img src="//img.youtube.com/vi/s5Lcgs1k0hA/0.jpg" alt="">
                          </div>
                        </div>
                      </a>
                    </div>
                    <!-- /.videoslider__content -->
                  </div>
                  <!-- /.videoslider__slide -->
                  <div class="videoslider__slide slidersection__slide">
                    <div class="videoslider__content">
                      <a class="youtubepopup" href="#!" data-link="//www.youtube.com/embed/s5Lcgs1k0hA?enablejsapi=1" tabindex="0">
                        <div class="videoslider__image">
                          <div class="videoslider__img">
                            <img src="//img.youtube.com/vi/s5Lcgs1k0hA/0.jpg" alt="">
                          </div>
                        </div>
                      </a>
                    </div>
                    <!-- /.videoslider__content -->
                  </div>
                  <!-- /.videoslider__slide -->
                </div>
                <!-- /.videoslider__slider -->
              </div>
              <!-- /.videoslider__container -->
            </div>
            <!-- /.videoslider -->
            <div class="photoslider slidersection">
              <div class="heading flex justify-between">
                <div class="blocktitle text-lgray  text-2lg">
                  Фотогалерея
                </div>
                <div class="sliderArrows flex onlyDesktop ">
                  <div class="sertslider__arrowleft cursor-pointer sliderLeft">
                    <img src="img/slider-left.svg" alt="">
                  </div>
                  <div class="sertslider__arrowright cursor-pointer sliderRight">
                    <img src="img/slider-right.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="photoslider__container">
                <div class="photoslider__slider slidersection__slider">
                  <div class="photoslider__slide slidersection__slide">
                    <a class="photoslider__content" href="img/aboutblock1.jpg" data-lightbox="photoslider">
                      <div class="photoslider__image">
                        <div class="photoslider__img">
                          <img src="img/aboutblock1.jpg" alt="">
                        </div>
                      </div>
                    </a>
                    <!-- /.photoslider__content -->
                  </div>
                  <!-- /.photoslider__slide -->
                  <div class="photoslider__slide slidersection__slide">
                    <a class="photoslider__content" href="img/aboutblock1.jpg" data-lightbox="photoslider">
                      <div class="photoslider__image">
                        <div class="photoslider__img">
                          <img src="img/aboutblock1.jpg" alt="">
                        </div>
                      </div>
                    </a>
                    <!-- /.photoslider__content -->
                  </div>
                  <!-- /.photoslider__slide -->
                  <div class="photoslider__slide slidersection__slide">
                    <a class="photoslider__content" href="img/aboutblock1.jpg" data-lightbox="photoslider">
                      <div class="photoslider__image">
                        <div class="photoslider__img">
                          <img src="img/aboutblock1.jpg" alt="">
                        </div>
                      </div>
                    </a>
                    <!-- /.photoslider__content -->
                  </div>
                  <!-- /.photoslider__slide -->
                  <div class="photoslider__slide slidersection__slide">
                    <a class="photoslider__content" href="img/aboutblock1.jpg" data-lightbox="photoslider">
                      <div class="photoslider__image">
                        <div class="photoslider__img">
                          <img src="img/aboutblock1.jpg" alt="">
                        </div>
                      </div>
                    </a>
                    <!-- /.photoslider__content -->
                  </div>
                  <!-- /.photoslider__slide -->
                  <div class="photoslider__slide slidersection__slide">
                    <a class="photoslider__content" href="img/aboutblock1.jpg" data-lightbox="photoslider">
                      <div class="photoslider__image">
                        <div class="photoslider__img">
                          <img src="img/aboutblock1.jpg" alt="">
                        </div>
                      </div>
                    </a>
                    <!-- /.photoslider__content -->
                  </div>
                  <!-- /.photoslider__slide -->
                </div>
                <!-- /.photoslider__slider -->
              </div>
              <!-- /.photoslider__container -->
            </div>
            <!-- /.photoslider -->
            <div class="reviews slidersection">
              <div class="heading flex justify-between">
                <div class="blocktitle text-lgray  text-2lg">
                  Отзывы
                </div>
                <div class="sliderArrows flex onlyDesktop ">
                  <div class="sertslider__arrowleft cursor-pointer sliderLeft">
                    <img src="img/slider-left.svg" alt="">
                  </div>
                  <div class="sertslider__arrowright cursor-pointer sliderRight">
                    <img src="img/slider-right.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="reviewsslider__container shadowslider">
                <div class="reviewsslider__slider ">
                  <div class="reviewsslider__slide  shadowslide">
                    <div class="reviews__content">
                      <div class="reviews__header">
                        <div class="reviews__name">Иван Иванов</div>
                        <div class="reviews__rating">
                          <div class="rating">
                            <div class="rating__value">
                              <span>4</span> <!-- сюда значение рейтинга 1-5 -->
                            </div>
                            <span class="score">
                              <div class="score-wrap">
                                <span class="rat-stars-active" style="width: 80px;">
                                <img src="img/start_active.svg" alt="">
                                <img src="img/start_active.svg" alt="">
                                <img src="img/start_active.svg" alt="">
                                <img src="img/start_active.svg" alt="">
                                <img src="img/start_active.svg" alt="">
                                </span>
                                <span class="stars-inactive">
                                <img src="img/start_unactive.svg" alt="">
                                <img src="img/start_unactive.svg" alt="">
                                <img src="img/start_unactive.svg" alt="">
                                <img src="img/start_unactive.svg" alt="">
                                <img src="img/start_unactive.svg" alt="">
                                </span>
                              </div>
                            </span>
                          </div>
                        </div>
                        <!-- /.reviews__raring -->
                      </div>
                      <!-- /.reviews__header -->
                      <div class="reviews__subheader">Коммерческий директор ООО Вакуум</div>
                      <div class="reviews__text">Боялся, что коммерческая организация не выполнит работу качественно, потому что проекты в бюджетных учреждениях не очень большие и не такие ценные, как на крупных предприятиях. Даже не думал, что Allcorp3 так ответственно возьметс...</div>
                    </div>
                    <!-- /.reviews__content -->
                  </div>
                  <!-- /.reviewsslider__slide -->
                  <div class="reviewsslider__slide  shadowslide">
                    <div class="reviews__content">
                      <div class="reviews__header">
                        <div class="reviews__name">Иван </div>
                        <div class="reviews__rating">
                          <div class="rating">
                            <div class="rating__value">
                              <span>4</span> <!-- сюда значение рейтинга 1-5 -->
                            </div>
                            <span class="score">
                              <div class="score-wrap">
                                <span class="rat-stars-active" style="width: 80px;">
                                <img src="img/start_active.svg" alt="">
                                <img src="img/start_active.svg" alt="">
                                <img src="img/start_active.svg" alt="">
                                <img src="img/start_active.svg" alt="">
                                <img src="img/start_active.svg" alt="">
                                </span>
                                <span class="stars-inactive">
                                <img src="img/start_unactive.svg" alt="">
                                <img src="img/start_unactive.svg" alt="">
                                <img src="img/start_unactive.svg" alt="">
                                <img src="img/start_unactive.svg" alt="">
                                <img src="img/start_unactive.svg" alt="">
                                </span>
                              </div>
                            </span>
                          </div>
                        </div>
                        <!-- /.reviews__raring -->
                      </div>
                      <!-- /.reviews__header -->
                      <div class="reviews__subheader">Коммерческий директор ООО Вакуум</div>
                      <div class="reviews__text">Боялся, что коммерческая организация не выполнит работу качественно, потому что проекты в бюджетных учреждениях не очень большие и не такие ценные, как на крупных предприятиях. Даже не думал, что Allcorp3 так ответственно возьметс...</div>
                    </div>
                    <!-- /.reviews__content -->
                  </div>
                  <!-- /.reviewsslider__slide -->
                </div>
              </div>
            </div>
            <div class="reviews__button">
              <a href="#modal_review" data-toggle="modal" class="button button_icon decoration-none">
              <img src="img/edit.svg" alt="">
              <span>Оставить отзыв</span>              
              </a>
            </div>
            <div class="backward">
              <a href="#">
                <img src="img/leftarrow.svg" alt="">
                <span>Назад к списку</span>
              </a>
            </div><!-- /.backward -->
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
<%= _.template(require('../includes/footer.html').default)(data) %>