@import './partials/fonts.scss';
@import './partials/params.scss';
@import './partials/mixins.scss';
@import './partials/animations.scss';
@import './partials/classes.scss';
@import './header.scss';
@import './footer.scss';
@import './modal.scss';



body {
  min-width: 320px;
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: normal;
  @include clear;
  scroll-behavior: smooth;

  overflow-x: hidden;
}

* {
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  box-sizing: border-box;
  outline: none !important;
}

main {
  overflow: hidden;
}

a {
  color: $blue;
  transition: all 0.3s ease;
}

a:hover,
a:focus {
  text-decoration: none;
  color: $blue;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: initial;
  height: initial;
}


@media (min-width: 1199px) {
  .onlyMobile {
    display: none !important;
  }
  .mainmenu ul li:hover {
    .submenu {
      display: block;
    }
  }
}


@include large-screen {
  .onlyMobile {
    display: block;
  }

  .onlyDesktop {
    display: none !important;
  }

}

.container {
  @include container;
}

.button {
  display: block;
  border: none;
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  background: #0068D7;
  border-radius: 55px;
  padding: 18px 40px;
  color: #FFFFFF;
  transition: all 0.3s ease;
  white-space: nowrap;
  &:hover {
    background: #0068D7;
    color: #FFFFFF;
    opacity: 0.9;
  }

  &:focus {
    background: #0068D7;
    color: #FFFFFF;
    opacity: 0.8;
  }

  &:disabled {
    background: #0068D7;
    color: #FFFFFF;
    opacity: 0.4;
  }
}


.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.text-white {
  color: #fff;
}

.text-xl {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-14 {
  padding-left: 14px;
}

.pl-13 {
  padding-left: 13px;
}

.pl-12 {
  padding-left: 12px;
}

.pl-11 {
  padding-left: 11px;
}

.pl-10 {
  padding-left: 10px;
}
.pl-9 {
  padding-left: 9px;
}
.pl-8 {
  padding-left: 8px;
}
.pl-7 {
  padding-left: 7px;
}
.pl-6 {
  padding-left: 6px;
}
.pl-5 {
  padding-left: 5px;
}
.pl-4 {
  padding-left: 4px;
}
.pl-3 {
  padding-left: 3px;
}
.pl-2 {
  padding-left: 2px;
}
.pl-1 {
  padding-left: 1px;
}

.callback {
  padding-left: 43px;
}

.header__search {
  margin-left: 32px;
}

.bg-gray {
  background: #212D39;
}
.text-lg {
  font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;
}


.text-md {
  font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
}

.decoration-none {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.header__descr {
  padding-left: 27px;
}

.uppercase {
  text-transform: uppercase;
}

span.menu__line {
  width: 32px;
  height: 3px;
  margin-bottom: 4px;
  display: block;
  background: #fff;
}

.header__logo img:first-child{
  max-width: 59px;
}
.header__logo img:last-child{
  max-width: 141px;
}

.mainmenu {

}

.border-b {
  border-bottom: 1px solid #384552;
}
.border-t {
  border-top: 1px solid #384552;
}

.border-gray {
  border-color: #384552;
}

.border-2 {
  border-width: 2px;
}

.submenu {
  top: calc(100%);
  display: none;
  position: absolute;
  min-width: 259px;
  background: #FFFFFF;
  box-shadow: 8px 8px 54px rgba(48, 79, 111, 0.15);
  z-index: 9;
  padding: 35px;
  li {
    margin-bottom: 35px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      color: #304F6F;
    }
  }
}

.mainmenu {
  
}
ul {
  margin: 0;
  padding: 0;
}
.mainmenu > ul li {
  list-style: none;
}
.mainmenu > ul > li {
  list-style: none;
  flex: 1;
  border-left: 1px solid #384552;
  position: relative;
}
.mainmenu > ul > li:last-child {
  border-right: 1px solid #384552;
}
.mainmenu > ul > li >a  {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
    color: #FFFFFF;
    text-align: center;
    padding: 22px 10px 23px 10px;
    display: block;
    transition: all 0.3s ease;
  &:hover {
    background: linear-gradient(180deg, #0068D7 0%, rgba(0, 104, 215, 0) 100%);
  }
  &:focus {
    background: linear-gradient(180deg, #0068D7 0%, rgba(0, 104, 215, 0) 100%);
  }
}



.w-full {
  width: 100%;
}
.searchblock__input {
  input {
    background: none;
    border: none;
    height: 22px;
    font-size: 12px;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #fff;font-size: 12px;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #fff;font-size: 12px;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #fff;font-size: 12px;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #fff;font-size: 12px;
    }
  }
}
.searchblock__icon {
  width: 17px;
  height: 17px;
}
.searchblock__wrapper {
  border-radius: 4px;
  padding: 7px 10px;
}
.bg-gray-500 {
  background: #384552;
}
.searchblock {
  padding: 11px 0 13px 0;
}



.mobilemenu {

  position: relative;

  .mainmenu {
    left: -100%;
    position: absolute;
    top: 100%;
    z-index: 999;
    width: 270px;
    transition: all 0.3s ease;
    padding-bottom: 50px;
    background-color: $dgray;
    background-image: linear-gradient(180deg, $dgray 0%,  $dgray 85%, #0068D7  100%);

  }
  .mainmenu__list {
     
      padding: 32px 0 0 0;

    li {
      margin-bottom: 38px;
    }
    li.parent {
      background-image: url('../img/chevron-right.svg');
      background-position: right center;
      background-repeat: no-repeat;
    }
    a {
      text-align: left;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
      display: block;
      color: #FFFFFF;
    }
  }
  .submenu {
    left: -100%;
  }
  /* li.parent {
    .submenu {
      left: 0;
      z-index: 10;
    }
  } */
}

.mobilemenu.active {
.mainmenu { 
  left: 0;
}
}

.mobilemenu__info {
  padding-top: 29px;
}
.mobilemenu__socials {
}
.socials {
  margin-bottom: 29px;
}
.socials__items {

}
.socials__item {
  margin-right: 6px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border: 1px solid #0068D7;
  }
}
.mobilemenu__email {
  margin-bottom: 29px;
}
.linkemail {
  display: inline-block;
  font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
border-bottom: 2px solid #0068D7;
padding-bottom: 4px;
text-transform: uppercase;

color: #FFFFFF;
}
.mobilemenu__phone {
  margin-bottom: 19px;
  a {
    font-size: 22px;
  }
  .status__text {
    font-size: 12px;
  }
}

.mobilemenu__callback {
  .callback {
    padding-left: 0;
  }
}


.mainslider__slide {
	height: 509px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mainslider__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  
  color: #304F6F;
  
  margin-bottom: 30px;
}

.mainslider__content {
	max-width: 550px;
	    padding-bottom: 35px;
}
.mainslider__wrapper {
	display: flex;
	height: 100%;
	align-items: center;
}
.mainslider__item {
	display: inline-block;
	margin-right: 15px;
}

.mainslider__item span {
  font-size: 12px;
  color: rgb(231, 235, 245);
	padding: 5px 18px;
	border: 1px solid rgb(231, 235, 245);
	border-radius: 15px;
}

.mainslider__text {
  font-size: 16px;
  font-family: 'AC Display';
  color: rgba(231, 235, 245, 0.761);
  line-height: 1.125;
}

.orange {
	color: #c76f14;
}

.mainslider__content > div {
	padding: 18px 0;
}

.slick-dots li button {
  background: #D9D9D9;
  width: 6px;
  height: 6px;
  padding: 0;
  border-radius: 50%;
}
.slick-dots li {
  width: 6px;
  height: 6px;
  margin: 0 6px 0 0;
}
.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background: #0068D7;
}

.mainslider .container {
	position: relative;
}

ul.slick-dots {
        position: initial;
    max-width: 1170px;
    margin: 14px auto;
    left: 0;
    right: 0;

}
.mainslider__arrows * {
  transition: all 0.3s ease;
}
.mainslider__arrowleft {
	position: absolute;
	left: 46px;
  top: calc(50% - 50px);
  cursor: pointer;
}
.mainslider__arrowleft:hover {	
	opacity: 0.7;
}

.mainslider__arrowright {
	position: absolute;
	right: 46px;
  top: calc(50% - 50px);
  cursor: pointer;

}

.mainslider__arrowright:hover {	
	opacity: 0.7;
}

.slick-dotted.slick-slider {
	margin-bottom: 0;
}

.mainslider__arrows {
 
}

.color-blue {
  color: $blue;
}

.button_large {
  padding: 21px 62px;
}
.mainslider__wrapper {
  max-width: 1125px;
  margin: auto;
}
.mainslider {
  margin: 36px 0;
}

.mainslider__content {
  margin-right: 10px;
}

.blocktitle {
  
}
.blocktitle{
  position: relative;
  padding-bottom: 22px;
  margin-bottom: 23px;
}
.blocktitle:after {
  content: "";
  width: 34px;
  height: 5px;
  background: #0068D7;
  position: absolute;
  bottom: 0;
  left: 0;
}

.blocktitle_white:after {
  content: "";
  width: 34px;
  height: 5px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.description {
  color: $lgray;
  margin-bottom: 19px;
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
}
.partslider__arrows > div {
  width: 40px;
  height: 40px;
  margin-right: 6px;
}

.partslider__icon {
  min-width: 36px;
}

.partslider__block {
  min-width: 300px;
  padding-right: 33px;
  margin-bottom: 20px;
}

.partslider__slide {
}
.partslider__link {
  display: block;
  padding: 0 9px  ;
}
.partslider__image {
  margin-bottom: 15px;
  border-radius: 6px;
  overflow: hidden;
}
.partslider__title {
}
.partslider__name {
  font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
text-transform: uppercase;

color: #304F6F;
}
.flex {
}
.partslider__icon {
}
.partslider__container {
  width: calc(100% - 333px);
}
.heading.flex {
  .blocktitle {
    margin-right: 38px;
  }
  a {
    padding-bottom: 22px;
  }
}


.galleryslider__container {
  position: relative;
}
.galleryslider__slider {
}
.galleryslider__slide {
  padding: 0 11px;
}

.galleryslider__link {
 
  img {
    position: absolute;
    border-radius: 6px;
    left: -9999px;
    top: -9999px;
    right: -9999px;
    bottom: -9999px;
    max-width: initial;
    width: initial;
    max-height: 100%;
    height: initial;
    margin: auto;
    z-index: 3;
  }
}
.galleryslider__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height */
  bottom: 28px;
  left: 28px;
  position: absolute;
  z-index: 5;
  text-transform: uppercase;

  color: #FFFFFF;
  position: relative;
  padding-bottom: 12px;
  &:after {
    background: #0068d7;
      bottom: 0;
      content: "";
      height: 5px;
      left: 0;
      position: absolute;
      width: 34px;
  }
}

.galleryslider__hover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(40, 51, 64, 0) 0%, rgba(40, 51, 64, 0) 58.33%, rgba(40, 51, 64, 0.4) 100%), url(image.png);
  z-index: 3;
  transition: all 0.3s ease;
  img {
    display: none;
  }


}

.galleryslider__link {
  display: block;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  padding-top: 66%;
  width: 100%;
  &:hover {
    .galleryslider__hover {
      background: linear-gradient(0deg, rgba(40, 51, 64, 0.63), rgba(40, 51, 64, 0.63));
    }
    .galleryslider__hover img {
      display: block;
    }
  }
}


.blockheader {
  margin-bottom: 39px;
}
.lightbox {
  align-content: center;
  align-items: center;
  height :100%;
  display: flex;
  flex-direction: column;
  position: fixed !important;
  top: 0 !important;
}

#lightboxOverlay {
 height: 100% !important;
 left: 0;
 position: fixed !important;
 top: 0;
 width: 100% !important;
}

.lb-outerContainer {
   margin: auto;
}

.lb-image {
  margin: auto;
}

.lb-close {
   bottom: 100%;
   position: fixed;
   right: 3%;
   top: 30px;
 }

 .fitches {
}
.fitches__wrapper {
}
.flex {
}
.justify-between {
}
.fitches__left {
}
.fitches__block {
  background-image: url(../img/remvac.svg);
  background-position: right 46px center;
  background-repeat: no-repeat;
  background-size: initial;
  padding: 47px 72px 14px 48px;
  width: 455px;
  background-color: #212D39;
  border-radius: 8px;
  box-shadow: 1px 28px 43px -28px #212d39;
}
.fitches__title {
}
.fitches__image {
}
.blocktitle_white {
  font-weight: 700;
font-size: 32px;
line-height: 32px;
padding-bottom: 35px;
margin-bottom: 17px;
}
.fitches__right {
  width: calc(100% - 547px);
}
.fitches__items {
  margin: 0 -30px;
}
.fitches__item {
  padding: 0 30px;
  margin-bottom: 60px;
}
.fitches__item:nth-child(5)  {
  margin-bottom: 0;
}
.fitches__item:nth-child(6)  {
  margin-bottom: 0;
}
.fitchescontent {
}
.fitchescontent__img {
    width: 94px;
  height: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  border: 1px solid rgba(48, 79, 111, 0.15);
}
.fitchescontent__icon {
  position: relative;
  span {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #212D39;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
  }
}
.fitchescontent__img {
}
.fitchescontent__text {
  font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
text-transform: uppercase;
padding-left: 24px;
color: #304F6F;

}

.brandsblock {
  padding-bottom: 30px;
}

.brandsblock__content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  padding: 30px;
}

.brandsblock__content:hover {
  background: #fff;
  box-shadow: 5px 5px 60px rgba(48, 79, 111, 0.1);
  border-radius: 6px;
}

.brandsblock__item {
  margin-bottom: 15px; 
}

.pageform__wrapper {
  background: #212D39;
border-radius: 8px;
padding: 46px;
box-shadow: 1px 28px 43px -28px #212d39;
}
.pageform__image {
  margin-right: 36px;
}

.pageform .description {
  color: #fff;
  font-size: 14px;
line-height: 100%;
}

.pageform__header {
  width: 275px;
}

.pageform__form {
}
.pageform__label {
  font-style: normal;
font-weight: 550;
font-size: 12px;
line-height: 12px;
margin-bottom: 11px;
color: rgba(255, 255, 255, 0.5);
}
.pageform__input {
  margin-bottom: 26px;
  input {
    border: none;
    border-bottom: 2px solid #fff;
    width: 100%;
    background: $lgray;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;
padding: 22px 27px 18px 27px;
background: $bordercolor;
color: #FFFFFF;
  }
}
.pageform__submit {
}
.pageform__check {
}
.pageform__button {
}
.button {
}
.button_large {
}
.pageform__form {
  width: 557px;
  margin-right: 64px;
}

.pageform__check {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
line-height: 100%;
width: 289px;
}

.pageform__check a {
  color: #fff;
}
.pageform {
  .blocktitle_white {
    padding-bottom: 17px;
  }
}

.aboutblock__container {
  margin-right: 80px;
  width: 502px;
  position: relative;

}

.aboutblock__photo {
  border-radius: 6px;
  overflow: hidden;
}

.aboutblock .description p {
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */
font-family: 'Circe';

color: #304F6F;
}

.aboutblock__stats {
  margin-top: 58px;
}
.stats {
}
.stats__items {
}
.stats__item {
  margin-right: 73px;
  margin-bottom: 30px;
}
.stats__number {
  font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 32px;
/* identical to box height */

text-transform: uppercase;
margin-bottom: 7px;
color: #0068D7;
}
.stats__text {
  font-family: 'Circe';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */
color: #304F6F;
}

.aboutblock {
  margin-bottom: 49px;
  ul.slick-dots {
    margin: 4px 0;
  }
}


@media (max-width: 1023px) {
  .header__row {
    padding: 16px 0 14px 0;
  }

  .header__wrapper {
    border-width: 1px;
  }

  .button {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height */
    
      padding: 19px 30px;
    color: #FFFFFF;
  }
}

