@import './partials/fonts.scss';
@import './partials/params.scss';
@import './partials/mixins.scss';
@import './partials/animations.scss';
@import './partials/classes.scss';
@import './header.scss';
@import './footer.scss';
@import './modal.scss';



body {
  min-width: 320px;
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: normal;
  @include clear;
  scroll-behavior: smooth;

  overflow-x: hidden;
}

* {
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  box-sizing: border-box;
  outline: none !important;
}

main {
  overflow: hidden;
}

a {
  color: $blue;
  transition: all 0.3s ease;
}

a:hover,
a:focus {
  text-decoration: none;
  color: $blue;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: initial;
  height: initial;
}


@media (min-width: 1023px) {
  .onlyMobile {
    display: none !important;
  }
  .mainmenu ul li:hover {
    .submenu {
      display: block;
    }
  }
}


@include medium-screen {
  .onlyMobile {
    display: block;
  }

  .onlyDesktop {
    display: none !important;
  }

}

.container {
  @include container;
}

.button {
  display: block;
  border: none;
  text-align: center;
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  background: #0068D7;
  border-radius: 55px;
  padding: 18px 40px;
  color: #FFFFFF;
  transition: all 0.3s ease;
  white-space: nowrap;
  &:hover {
    background: #0068D7;
    color: #FFFFFF;
    opacity: 0.9;
  }

  &:focus {
    background: #0068D7;
    color: #FFFFFF;
    opacity: 0.8;
  }

  &:disabled {
    background: #0068D7;
    color: #FFFFFF;
    opacity: 0.4;
  }
}


.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.text-white {
  color: #fff;
}

.text-xl {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-14 {
  padding-left: 14px;
}

.pl-13 {
  padding-left: 13px;
}

.pl-12 {
  padding-left: 12px;
}

.pl-11 {
  padding-left: 11px;
}

.pl-10 {
  padding-left: 10px;
}
.pl-9 {
  padding-left: 9px;
}
.pl-8 {
  padding-left: 8px;
}
.pl-7 {
  padding-left: 7px;
}
.pl-6 {
  padding-left: 6px;
}
.pl-5 {
  padding-left: 5px;
}
.pl-4 {
  padding-left: 4px;
}
.pl-3 {
  padding-left: 3px;
}
.pl-2 {
  padding-left: 2px;
}
.pl-1 {
  padding-left: 1px;
}

.callback {
  padding-left: 43px;
}

.header__search {
  margin-left: 32px;
}

.bg-gray {
  background: #212D39;
}
.text-lg {
  font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;
}


.text-md {
  font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
}

.decoration-none {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.header__descr {
  padding-left: 27px;
}

.uppercase {
  text-transform: uppercase;
}

span.menu__line {
  width: 32px;
  height: 3px;
  margin-bottom: 4px;
  display: block;
  background: #fff;
}

.header__logo img:first-child{
  max-width: 59px;
}
.header__logo img:last-child{
  max-width: 141px;
}

.mainmenu {

}

.border-b {
  border-bottom: 1px solid #384552;
}
.border-t {
  border-top: 1px solid #384552;
}

.border-gray {
  border-color: #384552;
}

.border-2 {
  border-width: 2px;
}

.submenu {
  top: calc(100%);
  display: none;
  position: absolute;
  min-width: 259px;
  background: #FFFFFF;
  box-shadow: 8px 8px 54px rgba(48, 79, 111, 0.15);
  z-index: 9;
  padding: 35px;
  li {
    margin-bottom: 35px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      color: #304F6F;
    }
  }
}

.mainmenu {
  
}
ul {
  margin: 0;
  padding: 0;
}
.mainmenu > ul li {
  list-style: none;
}
.mainmenu > ul > li {
  list-style: none;
  flex: 1;
  border-left: 1px solid #384552;
  position: relative;
}
.mainmenu > ul > li:last-child {
  border-right: 1px solid #384552;
}
.mainmenu > ul > li >a  {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
    color: #FFFFFF;
    text-align: center;
    padding: 22px 10px 23px 10px;
    display: block;
    transition: all 0.3s ease;
  &:hover {
    background: linear-gradient(180deg, #0068D7 0%, rgba(0, 104, 215, 0) 100%);
  }
  &:focus {
    background: linear-gradient(180deg, #0068D7 0%, rgba(0, 104, 215, 0) 100%);
  }
}



.w-full {
  width: 100%;
}
.searchblock__input {
  input {
    background: none;
    border: none;
    height: 22px;
    font-size: 12px;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #fff;font-size: 12px;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #fff;font-size: 12px;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #fff;font-size: 12px;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #fff;font-size: 12px;
    }
  }
}
.searchblock__icon {
  width: 17px;
  height: 17px;
}
.searchblock__wrapper {
  border-radius: 4px;
  padding: 7px 10px;
}
.bg-gray-500 {
  background: #384552;
}
.searchblock {
  padding: 11px 0 13px 0;
}



.mobilemenu {

  position: relative;

  .mainmenu {
    left: -100%;
    position: absolute;
    top: 100%;
    z-index: 999;
    width: 270px;
    transition: all 0.3s ease;
    padding-bottom: 50px;
    background-color: $dgray;
    background-image: linear-gradient(180deg, $dgray 0%,  $dgray 85%, #0068D7  100%);

  }
  .mainmenu__list {
     
      padding: 32px 0 0 0;

    li {
      margin-bottom: 38px;
    }
    li.parent {
      background-image: url('../img/chevron-right.svg');
      background-position: right center;
      background-repeat: no-repeat;
    }
    a {
      text-align: left;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
      display: block;
      color: #FFFFFF;
    }
  }
  .submenu {
    left: -100%;
  }
  /* li.parent {
    .submenu {
      left: 0;
      z-index: 10;
    }
  } */
}

.mobilemenu.active {
.mainmenu { 
  left: 0;
}
}

.mobilemenu__info {
  padding-top: 29px;
}
.mobilemenu__socials {
}
.socials {
  margin-bottom: 29px;
}
.socials__items {

}
.socials__item {
  margin-right: 6px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border: 1px solid #0068D7;
  }
}
.mobilemenu__email {
  margin-bottom: 29px;
}
.linkemail {
  display: inline-block;
  font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
border-bottom: 2px solid #0068D7;
padding-bottom: 4px;
text-transform: uppercase;

color: #FFFFFF;
}
.mobilemenu__phone {
  margin-bottom: 19px;
  a {
    font-size: 22px;
  }
  .status__text {
    font-size: 12px;
  }
}

.mobilemenu__callback {
  .callback {
    padding-left: 0;
  }
}


.mainslider__slide {
	height: 509px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mainslider__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  
  color: #304F6F;
  
  margin-bottom: 30px;
}

.mainslider__content {
	max-width: 550px;
	    padding-bottom: 35px;
}
.mainslider__wrapper {
	display: flex;
	height: 100%;
	align-items: center;
}
.mainslider__item {
	display: inline-block;
	margin-right: 15px;
}

.mainslider__item span {
  font-size: 12px;
  color: rgb(231, 235, 245);
	padding: 5px 18px;
	border: 1px solid rgb(231, 235, 245);
	border-radius: 15px;
}

.mainslider__text {
  font-size: 16px;
  font-family: 'AC Display';
  color: rgba(231, 235, 245, 0.761);
  line-height: 1.125;
}

.orange {
	color: #c76f14;
}

.mainslider__content > div {
	padding: 18px 0;
}

.slick-dots li button {
  background: #D9D9D9;
  width: 6px;
  height: 6px;
  padding: 0;
  border-radius: 50%;
}
.slick-dots li {
  width: 6px;
  height: 6px;
  margin: 0 6px 0 0;
}
.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background: #0068D7;
}

.mainslider .container {
	position: relative;
}

ul.slick-dots {
        position: initial;
    max-width: 1170px;
    margin: 14px auto;
    left: 0;
    right: 0;

}
.mainslider__arrows * {
  transition: all 0.3s ease;
}
.mainslider__arrowleft {
	position: absolute;
	left: 46px;
  top: calc(50% - 50px);
  cursor: pointer;
}
.mainslider__arrowleft:hover {	
	opacity: 0.7;
}

.mainslider__arrowright {
	position: absolute;
	right: 46px;
  top: calc(50% - 50px);
  cursor: pointer;

}

.mainslider__arrowright:hover {	
	opacity: 0.7;
}

.slick-dotted.slick-slider {
	margin-bottom: 0;
}

.mainslider__arrows {
 
}

.color-blue {
  color: $blue;
}

.button_large {
  padding: 21px 62px;
}
.mainslider__wrapper {
  max-width: 1125px;
  margin: auto;
}
.mainslider {
  margin: 36px 0;
}

.mainslider__content {
  margin-right: 10px;
}

.blocktitle {
  
}
.blocktitle{
  position: relative;
  padding-bottom: 22px;
  margin-bottom: 23px;
}
.blocktitle:after {
  content: "";
  width: 34px;
  height: 5px;
  background: #0068D7;
  position: absolute;
  bottom: 0;
  left: 0;
}

.blocktitle_white:after {
  content: "";
  width: 34px;
  height: 5px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.description {
  color: $lgray;
  margin-bottom: 19px;
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
}
.partslider__arrows > div {
  width: 40px;
  height: 40px;
  margin-right: 6px;
}

.partslider__icon {
  min-width: 36px;
}

.partslider__block {
  min-width: 300px;
  padding-right: 33px;
  margin-bottom: 20px;
}

.partslider__slide {
}
.partslider__link {
  display: block;
  padding: 0 9px  ;
}
.partslider__image {
  margin-bottom: 15px;
  border-radius: 6px;
  overflow: hidden;
}
.partslider__title {
}
.partslider__name {
  font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
text-transform: uppercase;

color: #304F6F;
}
.flex {
}
.partslider__icon {
}
.partslider__container {
  width: calc(100% - 333px);
}
.heading.flex {
  .blocktitle {
    margin-right: 38px;
  }
  a {
    padding-bottom: 22px;
  }
}


.galleryslider__container {
  position: relative;
}
.galleryslider__slider {
}
.galleryslider__slide {
  padding: 0 11px;
}

.galleryslider__link {
 
  img {
    position: absolute;
    border-radius: 6px;
    left: -9999px;
    top: -9999px;
    right: -9999px;
    bottom: -9999px;
    max-width: initial;
    width: initial;
    max-height: 100%;
    height: initial;
    margin: auto;
    z-index: 3;
  }
}
.galleryslider__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height */
  bottom: 28px;
  left: 28px;
  position: absolute;
  z-index: 5;
  text-transform: uppercase;

  color: #FFFFFF;
  position: relative;
  padding-bottom: 12px;
  &:after {
    background: #0068d7;
      bottom: 0;
      content: "";
      height: 5px;
      left: 0;
      position: absolute;
      width: 34px;
  }
}

.galleryslider__hover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(40, 51, 64, 0) 0%, rgba(40, 51, 64, 0) 58.33%, rgba(40, 51, 64, 0.4) 100%), url(image.png);
  z-index: 3;
  transition: all 0.3s ease;
  img {
    display: none;
  }


}

.galleryslider__link {
  display: block;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  padding-top: 66%;
  width: 100%;
  &:hover {
    .galleryslider__hover {
      background: linear-gradient(0deg, rgba(40, 51, 64, 0.63), rgba(40, 51, 64, 0.63));
    }
    .galleryslider__hover img {
      display: block;
    }
  }
}


.blockheader {
  margin-bottom: 39px;
}
.lightbox {
  align-content: center;
  align-items: center;
  height :100%;
  display: flex;
  flex-direction: column;
  position: fixed !important;
  top: 0 !important;
}

#lightboxOverlay {
 height: 100% !important;
 left: 0;
 position: fixed !important;
 top: 0;
 width: 100% !important;
}

.lb-outerContainer {
   margin: auto;
}

.lb-image {
  margin: auto;
}

.lb-close {
   bottom: 100%;
   position: fixed;
   right: 3%;
   top: 30px;
 }

 .fitches {
}
.fitches__wrapper {
}
.flex {
}
.justify-between {
}
.fitches__left {
}
.fitches__block {
  background-image: url(../img/remvac.svg);
  background-position: right 46px center;
  background-repeat: no-repeat;
  background-size: initial;
  padding: 47px 72px 14px 48px;
  width: 455px;
  background-color: #212D39;
  border-radius: 8px;
  box-shadow: 1px 28px 43px -28px #212d39;
}
.fitches__title {
}
.fitches__image {
}
.blocktitle_white {
  font-weight: 700;
font-size: 32px;
line-height: 32px;
padding-bottom: 35px;
margin-bottom: 17px;
}
.fitches__right {
  width: calc(100% - 547px);
}
.fitches__items {
  margin: 0 -30px;
}
.fitches__item {
  padding: 0 30px;
  margin-bottom: 60px;
}
.fitches__item:nth-child(5)  {
  margin-bottom: 0;
}
.fitches__item:nth-child(6)  {
  margin-bottom: 0;
}
.fitchescontent {
}
.fitchescontent__img {
    width: 94px;
  height: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  border: 1px solid rgba(48, 79, 111, 0.15);
}
.fitchescontent__icon {
  position: relative;
  span {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #212D39;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
  }
}
.fitchescontent__img {
}
.fitchescontent__text {
  font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
text-transform: uppercase;
padding-left: 24px;
color: #304F6F;

}

.brandsblock {
  padding-bottom: 30px;
}

.brandsblock__content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  padding: 30px;
}

.brandsblock__content:hover {
  background: #fff;
  box-shadow: 5px 5px 60px rgba(48, 79, 111, 0.1);
  border-radius: 6px;
}

.brandsblock__item {
  margin-bottom: 15px; 
}

.pageform__wrapper {
  background: #212D39;
border-radius: 8px;
padding: 46px;
box-shadow: 1px 28px 43px -28px #212d39;
}
.pageform__image {
  margin-right: 36px;
}

.pageform .description {
  color: #fff;
  font-size: 14px;
line-height: 100%;
}

.pageform__header {
  width: 275px;
}

.pageform__form {
}
.pageform__label {
  font-style: normal;
font-weight: 550;
font-size: 12px;
line-height: 12px;
margin-bottom: 11px;
color: rgba(255, 255, 255, 0.5);
}
.pageform__input {
  margin-bottom: 26px;
  input {
    border: none;
    border-bottom: 2px solid #fff;
    width: 100%;
    background: $lgray;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;
padding: 22px 27px 18px 27px;
background: $bordercolor;
color: #FFFFFF;
  }
}
.pageform__submit {
}
.pageform__check {
}
.pageform__button {
}
.button {
}
.button_large {
}
.pageform__form {
  width: 557px;
  margin-right: 64px;
}

.pageform__check {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
line-height: 100%;
width: 289px;
}

.pageform__check a {
  color: #fff;
}
.pageform {
  .blocktitle_white {
    padding-bottom: 17px;
  }
}

.aboutblock__container {
  margin-right: 80px;
  width: 502px;
  position: relative;

}

.aboutblock__photo {
  border-radius: 6px;
  overflow: hidden;
}

.aboutblock .description p {
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */
font-family: 'Circe';

color: #304F6F;
}

.aboutblock__stats {
  margin-top: 58px;
}
.stats {
}
.stats__items {
}
.stats__item {
  margin-right: 73px;
  margin-bottom: 30px;
}
.stats__number {
  font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 32px;
/* identical to box height */

text-transform: uppercase;
margin-bottom: 7px;
color: #0068D7;
}
.stats__text {
  font-family: 'Circe';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */
color: #304F6F;
}

.aboutblock {
  margin-bottom: 49px;
  ul.slick-dots {
    margin: 4px 0;
  }
}

.button_border {
  border: 1px solid rgba(48, 79, 111, 0.15);
  padding: 19px 0 21px 0;
  font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 12px;
/* identical to box height */
display: block;
width: 100%;
background: #fff;
text-align: center;

color: #0068D7;
}
.breadcrumbsblock {
  margin: 40px 0 45px 0;

}
.breadcrumbs {
  display: flex;
  align-items: center;
  overflow: auto;

  ul {
    padding-top: 1px;
  }

  li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    padding-right: 10px;
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: 16px;
    color: rgba(48, 79, 111, 0.5);

    &::after {
      content: "/";
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    &:last-child::after {
      display: none;
    }
  }

  li a span {
   
    color: rgba(48, 79, 111, 0.5);

  }
  li > span {
    color: rgba(48, 79, 111, 1);

  }
}
.breadcrumbs__icon {
  margin-right: 6px;
}

.contentpageblock {
  margin: 45px 0 0 0;
}
.contentpage__2cols {
  display: flex;
}
.description p {
  font-family: 'Circe';
}
.contentpage__col40 {
  width: 502px;
}
.contentpage__col60 {
  width: calc(100% - 502px);
  padding-left: 80px;
}
.contentpage__aside {
}
.aboutblock__container {
}
.aboutblock__photo {
}
.contentpage .stats {
  margin-bottom: 65px;
}

.contentpage__content {
  margin-top: 30px;
}
.stats__item {
  max-width: 96px;
}


.sliderRight {
  margin-left: 6px;
}

.sertslider__arrows_small {
  img {
    width: 40px;
    height: 40px;
  }
}

.serts__content {
  display: block;border: 6px solid #FFFFFF;
  border-radius: 6px;
  overflow: hidden;

  &:hover {
    box-shadow: none;
  }

  img {
    width: 100%;
    max-height: initial;

  }
}
.serts__slider {
  margin: 0 -7px;
}
.serts__slide {
  padding-bottom: 45px;
  padding-top: 20px;
  padding-left: 7px;
  padding-right: 7px;

}

.serts__container {
  width: calc(100% + 50px); 
  padding: 0 25px; 
  margin-left: -25px; 
  overflow: hidden; 
}
.serts__container  .slick-list {
  overflow: visible;
}

.serts__container   .slick-slide .serts__content{
  box-shadow: none;
  opacity: 0;
  transition: box-shadow 0.1s ease-in-out; 
}

.serts__container .slick-slide.slick-active .serts__content {
  opacity: 1;
  box-shadow: 10px 10px 20px rgba(48, 79, 111, 0.15);

}


.serts {
  margin-top: 50px;
}

#footer {
  margin-top: 50px;
}

.itemslist {
}
.itemslist__item {
  margin-bottom: 25px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(48, 79, 111, 0.15);
}


.itemslist__main{
  display: flex;
  align-items: center;
}
.itemslist__image {
  background: #FFFFFF;
  box-shadow: 5px 5px 60px rgba(48, 79, 111, 0.1);
  border-radius: 6px;
}
.itemslist__img {
}
.itemslist__content {
  margin-left: 62px;
}
.itemslist__name {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  color: #304F6F;
  margin-bottom: 10px;
}
.itemslist__text {
  
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #304F6F;

}
.itemslist__rightside {
}
.itemslist__link {
}

.itemslist__content {
  max-width: 828px;
  width: 100%;
  overflow: hidden;

}

.itemslist__text {
  max-height: 40px;
  height: initial;
}

.itemslist__img {
  background: #FFFFFF;
box-shadow: 5px 5px 60px rgba(48, 79, 111, 0.1);
border-radius: 6px;
width: 270px;
height: 150px;
display: flex;
align-items: center;
justify-content: center;
}

.brandlogo {
  background: #FFFFFF;
  width: 270px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 5px 5px 60px rgba(48, 79, 111, 0.1);
  border-radius: 6px;
  margin-bottom: 26px;
}

a.itemslist__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    .itemslist__img {
      box-shadow: none;
    }
  }
}

.asidepage {
  display: flex;
  margin-top: 40px;
}

.asidepage__aside {
  width: 270px;
}
.asidepage__main {
  width: calc(100% - 270px);
  padding-left: 58px;
}
.detailpage__image {
}
.brandlogo {
}
.brandlogo__img {
}
.detailpage__callback {
}
.button {
}
.decoration-none {
}
.button_responsive {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  max-width: 480px;
}

.list {
  margin-bottom: 35px;
  ul {
    margin: 0;
    padding: 0;
  }
}

.list_red li {
  padding-left: 35px;
  list-style: none;
  background-image: url(../img/cancel.svg);
  background-position: left center;
  background-repeat: no-repeat;
  margin-bottom: 12px;
}
.content p {
  margin-bottom: 25px;
}
.content p, .content li {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #304F6F;
}
table {
  width: 100%;
}
table thead {
  background: #F8F8FA;
  border-radius: 8px;
  tr {
    border-radius: 8px;
  }
  th:first-child {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    text-align: left;
 }

    th:last-child {
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
        text-align: right;
    }
  th {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */
      padding: 18px 22px;

    color: #304F6F;

}
}
.content table {
  margin-bottom: 45px;
}
table tbody {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #304F6F;

  td {
    padding: 18px 22px;
  }
  tr {
    border-bottom: 2px solid rgba(48, 79, 111, 0.15);
  }
  td:first-child {
    text-align: left;
  }
  td:last-child {
    text-align: right;
  }  
}

.sliderArrows {
  img {
    width: 40px;
    height: 40px;
  }
}


#video-close {
  position: absolute;
  right: 40px;
  top: 40px;
  z-index: 99999;
  color: #fff;
  font-size: 50px;
  cursor: pointer;
  background: rgba(0,0,0,0.4);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
div#video-popup {
  display: none;
position: fixed;
background: rgba(0,0,0,0.7);
width: 100%;
height: 100%;
z-index: 99;
top: 0;
left: 0;
right: 0;
margin: auto;
}
div#video-view{
width: 100%;
height: 100%;
}
div#video-view iframe  {
width: 100% !important;
height: 100% !important;
}
/* .slidersection__slider {
  margin: 0 -7px;
} */
.slidersection__slide {
  padding: 0 7px;

}
.slidersection__slide > * {
  border-radius: 6px;
  overflow: hidden;
}

.youtubepopup {

  position: relative;


  &::after {
    content: url(../img/yt.svg);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.videoslider__slider {
  margin: 0 -7px;
}

.videoslider {
  margin-bottom: 45px;
}
.slidersection {
  margin-bottom: 45px;
}

.score {
  display: block;
  font-size: 14px;
  line-height: 1;
  position: relative;
  overflow: hidden;
}
.reviews__rating {
  width: 106px;
}
.score-wrap {
  display: inline-block;
  position: relative;
  line-height: 1;
  width: 106px;
  text-align: left;
}

.score .stars-active {
  color: #4563FF;
  position: relative;
  z-index: 10;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}
.score .rat-stars-active {
  color: #4563FF;
  position: relative;
  z-index: 10;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}

.score .stars-inactive {
  color: grey;
  position: absolute;
  top: 0px;
  left: 0;
  -webkit-text-stroke: initial;
  vertical-align: middle;
  /* overflow: hidden; */
}

.blograting__value {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.rating__value {
  display: none;
}

.reviewsslider__container {
}
.reviewsslider__slider {
}
.slidersection__slider {
}
.reviewsslider__slide {
}

.reviews__content {

}
.reviews__header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  width: 100%;
}
.slick-slide img {
  display: initial;
}
.reviews__name {
  font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 22px;
margin-right: 16px;
color: #304F6F;

}
.reviews__rating {
}
.rating {
}
.rating__value {
}

.reviews__subheader {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #304F6F;
  opacity: 0.5;
}

.reviews__text {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #304F6F;
  margin-top: 28px;
}

.shadowslider  .slick-list {
  overflow: visible;
}

.shadowslider  .slick-slide.shadowslide {
  box-shadow: none;
  opacity: 0;
  transition: box-shadow 0.1s ease-in-out; 
}

.shadowslider .slick-slide.slick-active.shadowslide {
  opacity: 1;
  box-shadow: 10px 10px 20px rgba(48, 79, 111, 0.15);

}
.reviewsslider__slide {
  padding: 45px 48px;
  background: #FFFFFF;
  border-radius: 8px;
  }

.button_icon {
  img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
  }
  span {
    display: inline-block;
    vertical-align: middle;   
  }
}

.reviews {
  margin-bottom: 30px;
}

.reviews__button {
  margin-bottom: 45px;
}
.backward  {
  margin: 45px 0 0 0;
}
.backward a {
  background: #F8F8FA;
border-radius: 8px;
padding: 36px;
width: 100%;
display: block;
span {
  padding-left: 22px;
  font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;
/* identical to box height */
display: inline-block;vertical-align: middle;

color: #304F6F;
}
img {
  display: inline-block;vertical-align: middle;
}
}



@media (min-width: 1440px) {
  .header__logo img:first-child {
    max-width: 98px;
  }
  .header__logo img:last-child {
    max-width: 236px;
  }
}

@media (max-width: 1439px) {
  .fitches__block {
    width: 400px;
    padding: 47px 32px 14px 48px;
  }
  .fitches__right {
    width: calc(100% - 430px);
  }
  .fitchescontent__text {
    font-size: 16px;
  }
  .stats__item {
    margin-right: 30px;
  }
  .footer .header__item.flex.items-center {
    flex-wrap: wrap;
  }
  .footer .header__phone {
    margin-bottom: 18px;
  }
 /*  .footer__col:last-child {
    width: min-content;
  } */
  .footer  .callback {
    padding-left: 0;
}
  .pageform__wrapper {
    padding: 46px 15px;
  }
  .pageform__form {
    margin-right: 0;
    width: 400px;
    padding-left: 10px;
  }
  .aboutblock__container {
    margin-right: 30px;
  }
  .contentpage__col60 {
    padding-left: 30px;
  }
}

@media (max-width: 1023px) {
  .header__row {
    padding: 16px 0 14px 0;
  }

  .header__wrapper {
    border-width: 1px;
  }

  .button {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height */
    
      padding: 19px 30px;
  }
  .mainslider .container {
    padding: 0;
  }

  .flex {
    flex-wrap: wrap;
  }
  .mainslider__image {
    order: -1;
  }.mainslider__slide {
    height: inherit;
  }
  .mainslider {
    margin: 0;
  }
  .mainslider__content>div {
    padding: 0;
  }
  .mainslider__content>div.mainslider__title {
    font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 22px;
text-transform: uppercase;
margin-bottom: 20px;
color: #304F6F;
  }
  .mainslider__wrapper {
    padding: 14px 14px 33px 22px;
  }
  .mainslider__link .button {
    width: 100%;
  }
  .mainslider__content {
    padding: 0;
  }
  .slick-dots li button {
    width: 4px;
    height: 4px;
  }
  .slick-dots li {
    width: 4px;
    height: 4px;
    margin-right: 4px;
  }
  ul.slick-dots {
    margin: 0 0 14px 0;
  }
  .mainslider {
    margin-bottom: 30px;
  }
  .button {
    padding: 17px 15px;
  }

  .blocktitle {
    font-size: 22px;
line-height: 22px;
padding-bottom: 17px;
margin-bottom: 17px;
  }
  .blocktitle:after, .blocktitle_white:after {
    height: 4px;
  }
  .description {
    font-size: 12px;
line-height: 120%;
  }
  .partslider__container {
    width: 100%;
  }

  .partslider__slide {
    width: 232px;
  }

  .partslider__slider {
    margin-bottom: 24px;
  }

  .button_border {
    font-size: 12px;
line-height: 12px;
  }
  .galleryslider__title {
    left: 18px;
    bottom: 18px;
    font-size: 14px;
line-height: 14px;
  }
  .galleryslider__slider {
    margin: 0 -11px;
    margin-bottom: 39px;


  }

  .partslider__slider {
    margin-left: -9px;
    margin-right: -9px;
  }.fitches__block {
    max-width: 455px;
    width: 100%;
    padding: 28px 16px;
    margin-bottom: 40px;
    background-size: 30px;
    background-position: right 16px center;
  }
  .fitches__image {
    width: 171px;
  }
  .fitches__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 14px;
    padding-left: 0;
    padding-right: 0;
  }
  .fitches__item:nth-child(5), .fitches__item:nth-child(6) {
    margin-bottom: 14px;
  }
  .fitches__items {
    margin: 0;
  }
  .fitchescontent.flex.items-center {
    flex-wrap: nowrap;
  }
  .fitchescontent__img {
    width: 58px;height: 58px;
    padding: 15px;
  }
  .fitchescontent__icon span {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
  .fitchescontent__text {
    font-size: 14px;  
    line-height: 14px;
    padding-left: 19px; 
  }
  .fitches__items.flex.wrap {
    flex-wrap: wrap;
  }
  .fitches__right {
    width: 100%;
  }
  .brandsblock__item.w-20 {
    width: 50%;
    margin-bottom: 8px;
  }
  .brandsblock__content {
    padding: 20px;
    height: 76px;
  }
  .pageform__wrapper {
    box-shadow: 0px -1px 43px -19px #212d39;
    padding: 11px 16px 30px 16px;
  }
  .pageform__image {
    margin-right: 0;
    margin-bottom: 14px;
  }
  .pageform__form {
    max-width: 100%;
  }
  .pageform__input input {
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .pageform .description {
    margin-bottom: 29px;
  }
  .pageform__button {
    order: -1;
    margin-bottom: 20px;
  }
  .pageform__check {
    font-size: 12px;
line-height: 100%;
  }
  .pageform__form {
    margin-right: 0;
  }
  .aboutblock__container {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .aboutblock .description p {
    font-weight: 400;
font-size: 12px;
line-height: 120%;
  }
  .aboutblock__stats {
    margin-top: 18px;
  }
  .aboutblock__stats {
    
  }
 
  .stats__number {
    font-size: 22px;
line-height: 22px;
margin-bottom: 7px;
  }
  .stats__text {
    font-size: 12px;
line-height: 120%;
  }
  .aboutblock{
    margin-bottom: 11px;
  }
  .footer__info {
    flex-wrap: wrap;
  }
  .socials__items.flex.items-center {
    flex-wrap: nowrap;
  }
  .footer__main {
    padding: 26px 0;
  }
  .footer__links a {
    margin-right: 15px;
  }
  a.scrollTo.flex.items-center {
    flex-wrap: nowrap;

    img:last-child {
      padding-left: 9px;
      width: 141px;
    }
    img:first-child {
      width: 59px;
    }
  }
  .footer__logo {
    margin-right: 0;
    margin-bottom: 22px;
    width: 100%;
  }
  .footer .header__phone {
    width: 100%;
  }
  .socials__items.flex.items-center {
    margin-bottom: 29px;
  }
  .footer__email {
    margin-bottom: 31px;
  }
  .footer .header__item {
    padding: 0;
  }
  .footer .header__phone {
    margin-bottom: 18px;
  }
  span.status__text {
    font-size: 12px;
    line-height: 18px;
  }
  .footer .callback a.button {
    padding: 19px 30px;
  }
  .footer__bottom {
    padding: 22px 0;
  }
  .callback {
    padding-left: 0;
  }
  .footer__copy {
    font-size: 12px;
line-height: 12px;
  }
  .footer__links a {
    font-size: 12px;
line-height: 12px;
margin-right: 0;
padding-bottom: 2px;
  }
  .mainslider__row.flex.items-center.justify-between.w-full {
    max-width: 480px;
    margin: auto;
}
.fitches {
  max-width: 480px;
  margin: auto;
}
.pageform__check {
  width: 100%;
}
.pageform__wrapper {
  max-width: 502px;
  margin: auto;
}
.aboutblock__container {
  margin: auto;
}
.button_border {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}
.footer__email {
  margin-top: 5px;
}
.footer__cols {
  align-items: flex-start;
}
.footer__links a {
  margin-right: 15px;
}
.contentpage__2cols {
  flex-wrap: wrap;
}
.contentpage__col40, .contentpage__col60 {
  width: 100%;
}
.phone.flex.items-center {
  flex-wrap: nowrap;
}
}

@media (max-width: 767px) {
  .asidepage  {
    flex-wrap: wrap;
  }
  a.button.button_icon {
    min-width: 270px;
  }
  .reviewsslider__slide{
    padding: 20px 15px; 
  }
  table tbody td:last-child {
    white-space: nowrap;
  }
  .brandlogo {
    width: 100%;
  }
  .asidepage__main {
    padding-left: 0;
    width: 100%;
  }
  .asidepage__aside {
    width: 100%;
    margin-bottom: 40px;
  }

  a.itemslist__wrapper  {
    flex-wrap: wrap;
  }
  .itemslist__main {
    flex-wrap: wrap;
  }
  .itemslist__image {
    margin-bottom: 30px;
    width: 100%;
  }
  .itemslist__rightside {
    display: none;
  }
  .itemslist__content {
    margin-left: 0;
  }
  .itemslist__img {
    width: 100%;
  }
  .itemslist__name {
    font-size: 20px;
  }

  .contentpage__col60 {
    padding-left: 0;
  }
  .breadcrumbsblock {
    margin: 20px 0;
  }
  .contentpageblock {
    margin: 20px 0;
  }
  .breadcrumbs li {
    font-size: 12px;
  }
  .contentpage .stats {
    margin-bottom: 30px;
  }
  .footer__email {
    margin-top: 0;
  }
  .footer__cols {
    flex-wrap: wrap;
  }
  .footer__copy {
    margin-bottom: 31px;
  }
  .footer__links a {
    margin-bottom: 10px;
  }
  .stats__item {
    margin-right: 0;
    width: 50%;
  }
}